@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* font-family: 'Ubuntu', sans-serif;

color: #333740; color: #3365A6; color: #A0B9D9; color: #0D0000;*/

html{
    scroll-behavior: smooth;
}
* {margin:0; padding:0}

body {
    font-size: 18px;
}
header {
    background: #A0B9D9;
    width: 100%;
}
nav{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
    text-transform: uppercase;
    padding: 8px 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-top: 1px solid #3365A6;
    border-bottom: 1px solid #3365A6;
    background: rgba(255, 255, 255, 0.6);
}
nav ul li{
    display: inline;
    padding-right: 1em;
}
a{
    font-family: 'Lato', sans-serif;
    color: #333740;
    text-decoration: none;
}
a:hover {
    color: #0D0000;
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
    padding: 1rem 5% 0;
    color: #333740;
}
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6em;
    padding: 0 5% 1rem;
    color: #333740;
}
span {
    font-size: 1rem;
    font-weight: 400;
    padding-left: 4%;
}
article {
    padding: 1rem 5% 0;
    background: #A0B9D9;
}
article div {
    margin: 0;
    border-bottom: 1px dashed #3365A6;
}
img {
    width: 50%;
    padding-bottom: 0;
    padding-left: 25%;
}
article a {
    background: #3365A6;
    display: block;
    padding: 8px 1rem;
    color: #c4c4c4;
}
.zweiSpalten {
    display: flex;
    justify-content: space-between;
  }